<div class="center hero-unit">
  <h1>From Empty Suit...<br> to Full Pursuit</h1>
</div>

<div>
	<h3><%= link_to "If you don't like your job, quit", post1_path %></h3>
	<p>September, 23 2013</p>
</div>
<hr>
<div>
	<h3><%= link_to "Do what you love, and do it often", post2_path %></h3>
	<p>September, 23 2013</p>
</div>