<%= provide(:title, 'Post2') %>
<h2>"Do what you love, and do it often"<a href="www.holstee.com">-Holstee</a></h2>
<p>
Over the last few months I have learned to develop and deploy basic web applications in Ruby on Rails.  I have always wanted to build my own websites and very much regret waiting so long to get started.  The truth is that I was overwhelmed with all of the programming languages out there and never knew how to get started...and then I discovered Ruby on Rails.
<br>
<br>
 Mattan Griffel’s <a href="https://onemonthrails.com/">One Month Rails</a> opened my eyes to Ruby and the Rails framework.  I highly recommend Mattan’s course to anyone interested in learning how to build websites with RoR, especially since it is only $49.  After taking Mattan's course I was hooked and wanted to keep learning so I explored Michael Hartl’s <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book?version=3.2#book_menu">Ruby on Rails Tutorial</a>.  At first this guide was a bit overwhelming for someone just starting to learn rails, but have patience and just go through it start to end.  I have now gone through this guide twice and it is now beginning to click.  Thanks to my friend Jon Davidow, I discovered a lot of other great programming resources seen in the links below.  
<br>
<br>
Learning Ruby and Rails has been a lot of fun and although I have spent hours on Stack Overflow hunting for bug remedies and have wanted to snap my PC to pieces (Don't worry new macbook air I will never hurt you), having the power to create has been invaluable.
<br>
<br>
Great beginner Ruby on Rails or Programming resources:
<ul>
	<li><a href="https://onemonthrails.com/">One Month Rails</a></li>
	<li><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book?version=3.2#book_menu">Ruby on Rails Tutorial</a></li>
	<li><a href="http://www.codecademy.com/">Codeacademy</li>
	<li><a href="https://www.coursera.org/">Coursera</li>
	<li><a href="https://www.edx.org/">EdX Courses</li>
	<li><a href="http://prework.flatironschool.com/">Flatiron School</li>
	<li><a href="http://railscasts.com/">Railscasts</li>
	<li><a href="http://stackoverflow.com">Stack Overflow</a></li>
</ul>
</p>
<p>posted on September 22, 2013</p>